*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif, monospace;
}

main {
  margin: 80px 0 60px 0;
  z-index: 0;
}

main > p {
  margin-top: 100px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

@media (max-width: 650px) {
  main {
    margin: 60px 0 40px 0;
  }
  main > p {
    font-size: 20px;
  }
}